#!/usr/bin/env bash
# Some aliases taken from: https://github.com/mathiasbynens/dotfiles/blob/master/.aliases

# Detect which `ls` is being used
if ls --color > /dev/null 2>&1; then
	# GNU 'ls'
	colorflag='--color'
else
	# OS X (BSD) 'ls'
	colorflag='-G'
fi

#========== Built-in Mods ===========
# Colorize ls
alias ls='command ls ${colorflag}'

# ls variations
alias l='ls -l'
alias la='ls -la'
alias ltr='ls -ltr'
alias lad='ls -lad */' # only list directories in current directory

# Always show grep colors. Oh-my-zsh handles setting grep options.
if [[ -z "${ZSH}" ]]; then
  alias grep='grep --color=auto'
fi
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias h='history'

alias fnd='find . -iname'


#============= General ==============
# Lock computer
alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

# Simulate signing out of shell session
alias reload='exec $SHELL -l'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input1.pdf ... inputN.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Command line volume control
alias stfu='osascript -e "set volume output muted true"'
alias speak='osascript -e "set volume output muted false"'
alias turndownforwhat='osascript -e "set volume 7"'

alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Update shell config files
alias sb='source $HOME/.bashrc'
alias sa='source $HOME/.aliases'

# Recursively get all the file extensions in the current directory.
alias filetypes='find . -type f | perl -ne '"'"'print $1 if m/\.([^.\/]+)$/'"'"' | sort -u'

# Easier PATH inspection
alias prettypath='echo $PATH | tr ":" "\n" | nl'


#=============== Admin ==============
# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a && brew update && brew upgrade && brew cleanup && npm install npm -g && npm update -g'

# Show/hide hidden files in Finder
alias show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

# Rebuild Launch Services database
# Use if icons in Finder are incorrect or there are duplicates in "Open With"
alias lsdb="/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain system -domain user"

alias sshconfig='subl $HOME/.ssh/config'


#============ Navigation ============
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias docs='cd $HOME/Documents'
alias dev='cd $HOME/Documents/Development'
alias drop='cd $HOME/Dropbox'
alias site='cd $HOME/Documents/Development/web-dev/chrismeyers-website'
alias mov='cd $HOME/Movies'
alias pics='cd $HOME/Pictures'
alias dt='cd $HOME/Desktop'
alias scripts='cd $HOME/scripts'
alias dots='cd $HOME/dotfiles'
alias dl='cd $HOME/Downloads'
alias sublconfig='cd "$HOME/Library/Application Support/Sublime Text 3/Packages/User"'


#============ Programming ===========
alias pip3up='pip3 freeze > pip3_current.txt && pip3 install --upgrade -r pip3_current.txt && rm pip3_current.txt'
alias glade='/usr/local/Cellar/glade/3.8.5_1/bin/glade-3'
alias jre='/Library/Internet\ Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/bin/java'
alias pypaths='/usr/bin/env python3 -c "import sys; import os; print(os.linesep.join(sys.path))"'
alias pypibuild='rm -rf dist/*; rm -rf build/*; /usr/bin/env python3 setup.py bdist_wheel sdist'
alias pypiupload='twine upload dist/*'
alias gbpurge='git fetch --prune && git branch --merged | grep -E -v "\*|master|main|develop|stage|qa" | xargs -n 1 git branch -d'


#============= Web stuff ============
# MAMP
alias mampmysql='/Applications/MAMP/Library/bin/mysql'
alias mampmysqldump='/Applications/MAMP/Library/bin/mysqldump'
alias mampconf='subl /Applications/MAMP/conf/apache/httpd.conf'
alias mampvhosts='subl /Applications/MAMP/conf/apache/extra/httpd-vhosts.conf'
alias mampphpbroke='open /Applications/MAMP/logs/php_error.log'

# Controls for Homebrew installed apache server and mysql
alias lampon='brew services run httpd && sleep 1 && brew services run mysql'
alias lampoff='brew services stop httpd && sleep 1 && brew services stop mysql'
alias lampres='lampoff && sleep 1 && lampon'

# Node.js
alias nodeserver='http-server'

# Config files
alias hosts='sudo subl /etc/hosts'

# Print IP addresses
alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'
alias localip='ipconfig getifaddr en0'

# URL utils
alias urlencode='python -c "import urllib, sys; print urllib.quote(sys.argv[1])"'
alias urldecode='python -c "import urllib, sys; print urllib.unquote(sys.argv[1])"'

alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'


#============= Editors ==============
alias e='open -e'


#============= Scripts ==============
alias backupdots='python3 $HOME/dotfiles/backupdots.py'
