[submodule "Common/vim/.vim/pack/plugins/start/gruvbox"]
	path = Common/vim/.vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "Common/vim/.vim/pack/plugins/start/iceberg"]
	path = Common/vim/.vim/pack/plugins/start/iceberg
	url = https://github.com/cocopon/iceberg.vim
