#!/usr/bin/env bash
# Some aliases taken from: https://github.com/mathiasbynens/dotfiles/blob/master/.aliases

#========== Built-in Mods ===========
# Colorize ls
alias ls='ls --color'

# ls variations
alias l='ls -l'
alias la='ls -la'
alias ltr='ls -ltr'
alias lad='ls -lad */' # only list directories in current directory

# Always show grep colors
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias h='history'

alias fnd='find . -iname'


#============= General ==============
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Update shell config files
alias sb='source $HOME/.bashrc'
alias sa='source $HOME/.aliases'

# Recursively get all the file extensions in the current directory.
alias filetypes='find . -type f | perl -ne '"'"'print $1 if m/\.([^.\/]+)$/'"'"' | sort -u'


#=============== Admin ==============
alias root='sudo -i'
alias sshconfig='subl $HOME/.ssh/config'
alias power='xfce4-power-manager -c'
alias svc='systemctl list-unit-files'
alias svcrun='systemctl | grep running'
alias sound='alsamixer'
alias nmgui='$HOME/Documents/Development/scripts/shell_scripts/nmgui.sh'
alias notif='dbus-monitor "interface=org.freedesktop.Notifications" | grep --line-buffered "member=Notify\|string"'


#============ Navigation ============
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias docs='cd $HOME/Documents'
alias dev='cd $HOME/Documents/Development'
alias drop='cd $HOME/Dropbox'
alias site='cd $HOME/Documents/Development/web-dev/chrismeyers.info'
alias vid='cd $HOME/Videos'
alias pics='cd $HOME/Pictures'
alias dt='cd $HOME/Desktop'
alias scripts='cd $HOME/scripts'
alias dots='cd $HOME/dotfiles'
alias dl='cd $HOME/Downloads'
alias sublconfig='cd "$HOME/.config/sublime-text-3/Packages/User"'


#============ Programming ===========
alias python3='/usr/local/bin/python3.7'
alias pip3='/usr/local/bin/pip3.7'
alias pip3up='pip3 freeze > pip3_current.txt && pip3 install --upgrade -r pip3_current.txt && rm pip3_current.txt'
alias pypaths='/usr/bin/env python3 -c "import sys; import os; print(os.linesep.join(sys.path))"'
alias pypibuild='rm -rf dist/*; rm -rf build/*; /usr/bin/env python3 setup.py bdist_wheel sdist'
alias pypiupload='twine upload dist/*'


#============= Web stuff ============
# Node.js
alias nodeserver='http-server'

# Config files
alias hosts='sudo subl /etc/hosts'

# Print IP addresses
alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'
alias localip='hostname -I'

# URL utils
alias urlencode='python -c "import urllib, sys; print urllib.quote(sys.argv[1])"'
alias urldecode='python -c "import urllib, sys; print urllib.unquote(sys.argv[1])"'

alias chrome='/usr/bin/google-chrome-stable'


#============= Scripts ==============
alias backupdots='python3 $HOME/dotfiles/backupdots.py'
