[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=chris
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock --ignore-empty-password --show-failed-attempts --image /home/chris/Pictures/Wallpapers/moon_mower.png

[Install]
WantedBy=sleep.target
