[alias]
	aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
	all = add . --all
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	st = status
	details = log -n1 -p --format=fuller
	untracked = ls-files --others --exclude-standard
	updatesubs = submodule update --recursive --remote
[core]
	autocrlf = true
[credential]
	helper = manager-core
[user]
	name = Chris Meyers
	email = chris@chrismeyers.net
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = main
