[alias]
	aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
	all = add . --all
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	st = status
	details = log -n1 -p --format=fuller
	untracked = ls-files --others --exclude-standard
	updatesubs = submodule update --recursive --remote
[core]
	autocrlf = true
[credential]
	helper = manager
[user]
	name = Chris Meyers
	email = chris@chrismeyers.net
	signingkey = C:\\Users\\Chris\\.ssh\\id_ed25519_git.pub
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = C:\\Users\\Chris\\.config\\git\\allowed-signers.txt
	program = C:\\Windows\\System32\\OpenSSH\\ssh-keygen.exe
